@model IEnumerable<HotelHero.WebMVC.Models.Hotel>

<h1>Hotels</h1>

@if (UserContext.GetUser()?.UserRole == HotelHero.UserPanel.Enums.UserRole.Admin)
{
    <p>
        <a class="btn btn-outline-success me-2" asp-action="Create">Add new hotel</a>
    </p>
}
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_HotelCard" , model="item" />
        }
    </tbody>
</table>
