
@{
    ViewData["Title"] = "Welcome to Admin panel";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="Users">"1.Users"</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">"2.Reservation management - individual client - (Comming soon)"</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">3.Reservation management - Business client - (Comming soon)</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">4.Finances </a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">5.Marketing - (Comming soon)</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">6.Employees - (Comming soon)</a>
            </div>
        </div>
    </div>
</div>