
@{
    ViewData["Title"] = "Welcome to Admin panel";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-md-auto">

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="Users">Users</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">Reservation management - individual client - (Comming soon)</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">Reservation management - Business client - (Comming soon)</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">Marketing - (Comming soon)</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">Finances </a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-area="" asp-controller="AdminPanel" asp-action="">Employees - (Comming soon)</a>
                </button>

            </div>

        </div>
    </div>
</div>