@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <a href="/Search" class="btn btn-primary">Search</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome in hotel</h1>
    <h2>👽👽👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽</h2>
    <h2>👽👽👽👽</h2>
    <h2>👽👽👽</h2>
    <h2>👽👽</h2>
    <h2>👽</h2>
    @* <img src="~/images/deadpool.png" width="100" height="100" /> *@
</div>
