@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in hotel, Rafał</h1>
    <h2>👽👽👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽👽</h2>
    <h2>👽👽👽👽👽</h2>
    <h2>👽👽👽👽</h2>
    <h2>👽👽👽</h2>
    <h2>👽👽</h2>
    <h2>👽</h2>
</div>
