@model HotelHero.WebMVC.Models.CustomerData

@{
    ViewData["Title"] = "Customer Panel";
}
<body>
    <div class="container">
        <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px">
            <a class="d-flex flex-column align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="btn text-decoration-none" asp-action="CustomerData">Customer data</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Reservations">Your reservations</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="PaymentsHistory">Payments history</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Wallet">Your wallet</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Favourites">Favourites</a>
                </li>
            </ul>
        </aside>
    </div>
</body>