@model CustomerData

@{
    ViewData["Title"] = "Customer Panel";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="children">
                    <a class="btn" asp-action="CustomerData">Customer Data</a>
                </div>

                <div class="children">
                    <a class="btn" asp-action="Reservations">Your reservations</a>
                </div>

                <div class="children">
                    <a class="btn" asp-action="StaysHistory">History of stays</a>
                </div>

                <div class="children">
                    <a class="btn-dark" asp-action="Wallet">Your wallet</a>
                </div>

                <div class="children">
                    <a class="btn" asp-action="Favourites">Favourites</a>
                </div>

            </div>
            <div class="col">
                Your wallet balance: @Model.Balance PLN
                <a class="btn" asp-action="AddBalance" asp-route-id="@Model">Add balance</a>
            </div>
        </div>
    </div>
</body>

