@model CustomerData

@{
    ViewData["Title"] = "Customer Panel";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                        <a class="btn" asp-action="CustomerData">Customer Data</a>
                    </button>

                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                        <a class="btn" asp-action="Reservations">Your reservations</a>
                    </button>

                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                        <a class="btn" asp-action="PaymentsHistory">Payments history</a>
                    </button>

                    <button type="button" class="list-group-item list-group-item-action list-group-item-info active">
                        <a class="btn" asp-action="Wallet">Your wallet</a>
                    </button>

                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                        <a class="btn" asp-action="Favourites">Favourites</a>
                    </button>
                </div>

            </div>
            <div class="col">
                Your wallet balance: @Model.Balance PLN
                <a class="btn btn-outline-success me-2" asp-action="AddBalance" asp-route-id="@Model">Add balance</a>
            </div>
        </div>
    </div>
</body>

