@using HotelHero.ReservationsDatabase
@using HotelHero.WebMVC.Interface
@inject ICustomerDataService customerDataService

@model Reservation

@{
    var balance = customerDataService.GetCustomerData().Balance;
    var reservationCost = Model.GetReservationCost();
}

Reservation cost: @reservationCost
Your balance: @balance

@if (reservationCost > balance)
{
    <h4>Your balance is too low. Top up your wallet.</h4>
    <a asp-action="ToWallet">Go to your wallet</a>
}
else
{
    <a asp-action="PayConfirm" asp-route-id="@Model.Id">Confirm Payment</a>
}

